# Root dependencies
node_modules/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Backend and Frontend production
backend/dist/
backend/build/
frontend/dist/
frontend/build/

# Env files
.env
.env.local
.env.*.local

# Logs
*.log
